<a href="https://colab.research.google.com/github/wlsisl/ESAA_22-2/blob/main/datetime_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 12-1
### datetime 오브젝트

datetime 라이브러리: 날짜와 시간을 처리하는 등의 다양한 기능을 제공하는 파이썬 라이브러리

* date 오브젝트 : 날자를 처리함

* time 오브젝트 : 시간을 처리함

* datetime 오브젝트 : 날짜와 시간을 모두 처리함


datetime 오브젝트 사용하기
1. datetime오브젝트를 사용하기 위해 라이브러리를 불러온다.

In [1]:
from datetime import datetime

2. now, today 메서드를 사용하면 다음과 같이 현재 시간을 출력할 수 있다.

In [2]:
now1 = datetime.now()
print(now1)

2022-10-10 05:16:50.511010

In [3]:
now2=datetime.today()
print(now2)

2022-10-10 05:16:50.529839

3. 다음은 datetime오브젝트를 생성할 때 시간을 직접 입력하여 인자로 전달한 것이다.
각 변수를 출력하여 확인해보면 입력한 시간을 바탕으로 datetime오브젝트가 생성된다.

In [4]:
t1= datetime.now()
t2= datetime(1970,1,1)
t3= datetime(1970,12,12,13,24,34)

print(t1)
print(t2)
print(t3)

2022-10-10 05:16:50.545867
1970-01-01 00:00:00
1970-12-12 13:24:34

4.datetime오브젝트를 사용하는 이유 중 하나는 **시간 계산**을 할 수 있다는 점이다. 다음 두 datetime오브젝트의 차이를 구한 것이다.

In [5]:
diff1 = t1-t2

print(diff1)
print(type(diff1))

19275 days, 5:16:50.545867
<class 'datetime.timedelta'>

In [6]:
diff2 = t2-t1

print(diff2)
print(type(diff2))

-19276 days, 18:43:09.454133
<class 'datetime.timedelta'>

p.256-263
### 테슬라 주식 데이터로 시간 계산하기

pandas-datareader 라이브러리를 이용하여 주식 데이터를 불러오자.
이 라이브러리는 처음 설치해본다.

In [10]:
!pip install pandas-datareader

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas-datareader in /usr/local/lib/python3.7/dist-packages (0.9.0)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (1.3.5)
Requirement already satisfied: requests>=2.19.0 in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (2.23.0)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (4.9.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (2022.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas-datareader) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (2022.9.24)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (2.10)

1.다음은 `get_data_quanal 메서드`에 TSLA라는 문자열을 전달하여 테슬라의 주식 데이터를 내려받고

`to_csv메서드`를 사용하여 data폴더 안에 'tesla_stock_quandl.csv' 라는 이름으로 저장한다.

In [17]:
from google.colab import drive
drive.mount('/content/drive')

import numpy as np
import pandas as pd

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [18]:
pd.core.common.is_list_like = pd.api.types.is_list_like
import pandas_datareader as pdr

#tesla에는 데이터프레임이 저장된다.
tesla=pdr.get_data_quandl('TSLA', api_key ='ysbh-4SJ9FsYHyQ6HQpx')

#tesla에 저장된 데이터프레임을 파일로 저장한다.
tesla.to_csv('/content/drive/MyDrive/tesla_stock_quandl.csv')

2. tesla 뎅터 프레임의 date열은 문자열로 저장되어 있다. 즉, datetime오브젝트로 자료형을 변환해야 시간 계산을 할 수 있다.

In [19]:
print(tesla.head())

              Open    High     Low   Close      Volume  ExDividend  \
Date
2018-03-27  304.00  304.27  277.18  279.18  13696168.0         0.0
2018-03-26  307.34  307.59  291.36  304.18   8324639.0         0.0
2018-03-23  311.25  311.61  300.45  301.54   6600538.0         0.0
2018-03-22  313.89  318.82  308.18  309.10   4914307.0         0.0
2018-03-21  310.25  322.44  310.19  316.53   5927881.0         0.0

            SplitRatio  AdjOpen  AdjHigh  AdjLow  AdjClose   AdjVolume
Date
2018-03-27         1.0   304.00   304.27  277.18    279.18  13696168.0
2018-03-26         1.0   307.34   307.59  291.36    304.18   8324639.0
2018-03-23         1.0   311.25   311.61  300.45    301.54   6600538.0
2018-03-22         1.0   313.89   318.82  308.18    309.10   4914307.0
2018-03-21         1.0   310.25   322.44  310.19    316.53   5927881.0

3. Date열을 Datetime 형으로 변환하려면 read_csv메서드로 데이터 집합을 불러올 때 parse_dates 인자에 date열을 전달하면 된다.

In [20]:
tesla=pd.read_csv('/content/drive/MyDrive/tesla_stock_quandl.csv', parse_dates=[0])
print(tesla.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114 entries, 0 to 113
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        114 non-null    datetime64[ns]
 1   Open        114 non-null    float64
 2   High        114 non-null    float64
 3   Low         114 non-null    float64
 4   Close       114 non-null    float64
 5   Volume      114 non-null    float64
 6   ExDividend  114 non-null    float64
 7   SplitRatio  114 non-null    float64
 8   AdjOpen     114 non-null    float64
 9   AdjHigh     114 non-null    float64
 10  AdjLow      114 non-null    float64
 11  AdjClose    114 non-null    float64
 12  AdjVolume   114 non-null    float64
dtypes: datetime64[ns](1), float64(12)
memory usage: 11.7 KB
None

4. Date열의 자료형이 datetime 오브젝트로 변환되었다. 이제 dt접근자를 사용할 수 있다. 다음은 불린 추출로 2010년 6월의 데이터만 추출한 것이다.

In [21]:
print(tesla.loc[(tesla.Date.dt.year == 2010)& (tesla.Date.dt.month ==6)])

Empty DataFrame
Columns: [Date, Open, High, Low, Close, Volume, ExDividend, SplitRatio, AdjOpen, AdjHigh, AdjLow, AdjClose, AdjVolume]
Index: []

### datetime 오브젝트와 인덱스  - DatetimeIndex

지금까지는 대부분 데이ㅓ프레임의 행 번호를 인덱스로 사용했지만 datetime오브젝트를 데이터프레임의 인덱스로 설정하면 원하는 시간의 데이터를 바로 추출할 수 있다.

**<datetime 오브젝트를 인덱스로 설정해 데이터 추출하기>**

1. 계속해서 테슬라 주식 데이터를 사용하여 실습을 진행한다. 다음은 Date열을 tesla 데이터프레임의 인덱스로 지정한 것이다.

In [22]:
tesla.index = tesla['Date']
print(tesla.index)

DatetimeIndex(['2018-03-27', '2018-03-26', '2018-03-23', '2018-03-22',
               '2018-03-21', '2018-03-20', '2018-03-19', '2018-03-16',
               '2018-03-15', '2018-03-14',
               ...
               '2017-10-24', '2017-10-23', '2017-10-20', '2017-10-19',
               '2017-10-18', '2017-10-17', '2017-10-16', '2017-10-13',
               '2017-10-12', '2017-10-11'],
              dtype='datetime64[ns]', name='Date', length=114, freq=None)

2. datetime오브젝트를 인덱스로 지정하면 다음과 같은 방법으로 원하는 시간의 데이터를 추출할 수 있다. 다음은 2015년의 데이터를 추출하였다

In [23]:
print(tesla['2015'].iloc[:5,:5])

# 2010년 6월 데이터
print(tesla['2010-06'].iloc[:5,:5])

Empty DataFrame
Columns: [Date, Open, High, Low, Close]
Index: []
Empty DataFrame
Columns: [Date, Open, High, Low, Close]
Index: []

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  after removing the cwd from sys.path.

### 시간 간격과 인덱스 - TimedeltaIndex
 
 예를 들어 주식 데이터에서 최초 5일간 수집된 데이터만 살펴보고 싣다면?

 이런 경우에는 시간 간격을 인덱스로 지정하여 데이터를 추출한다.

 이번에는 datetime오브젝트를 인덱스로 지정하는 것이 아니라, 시간 간격을 인덱스로 지정해보자.

#### **<시간 간격을 인덱스로 지정해 데이터 추출하기>**
1.Date열에서 Date열의 최솟값을 빼면 데이터를 수집한 이후에 시간이 얼마나 흘렀는지 알 수 있다.

In [24]:
#새로운 열 생성
tesla['ref_date'] = tesla['Date']- tesla['Date'].min()
print(tesla.head())

                 Date    Open    High     Low   Close      Volume  ExDividend  \
Date
2018-03-27 2018-03-27  304.00  304.27  277.18  279.18  13696168.0         0.0
2018-03-26 2018-03-26  307.34  307.59  291.36  304.18   8324639.0         0.0
2018-03-23 2018-03-23  311.25  311.61  300.45  301.54   6600538.0         0.0
2018-03-22 2018-03-22  313.89  318.82  308.18  309.10   4914307.0         0.0
2018-03-21 2018-03-21  310.25  322.44  310.19  316.53   5927881.0         0.0

            SplitRatio  AdjOpen  AdjHigh  AdjLow  AdjClose   AdjVolume  \
Date
2018-03-27         1.0   304.00   304.27  277.18    279.18  13696168.0
2018-03-26         1.0   307.34   307.59  291.36    304.18   8324639.0
2018-03-23         1.0   311.25   311.61  300.45    301.54   6600538.0
2018-03-22         1.0   313.89   318.82  308.18    309.10   4914307.0
2018-03-21         1.0   310.25   322.44  310.19    316.53   5927881.0

           ref_date
Date
2018-03-27 167 days
2018-03-26 166 days
2018-03-23 163 days
2018-03-22 162 days
2018-03-21 161 days

2. 다음과 같이 ref_date열을 인덱스로 지정했다. 이제 시간 간격을 이용하여 데이터를 추출할 수 있다.

In [25]:
tesla.index=tesla['ref_date']
print(tesla.iloc[:5,:5])

               Date    Open    High     Low   Close
ref_date
167 days 2018-03-27  304.00  304.27  277.18  279.18
166 days 2018-03-26  307.34  307.59  291.36  304.18
163 days 2018-03-23  311.25  311.61  300.45  301.54
162 days 2018-03-22  313.89  318.82  308.18  309.10
161 days 2018-03-21  310.25  322.44  310.19  316.53

3.다음은 데이터를 수집한 이후 최초 5일의 데이터를 추출한 것이다.

In [26]:
print(tesla['5 days':].iloc[:5,:5])

               Date    Open    High     Low   Close
ref_date
5 days   2017-10-16  353.76  354.48  347.16  350.60
2 days   2017-10-13  356.98  358.49  353.68  355.57
1 days   2017-10-12  352.95  359.78  352.64  355.68
0 days   2017-10-11  353.89  357.60  351.15  354.60

### 시간 범위와 인덱스

앞에서 사용한 주식 데이터는 특정 일에 누락된 데이터가 없었다. 하지만 가끔 데이터를 수집하지 못한 날도 있을 수 있는데, 특정 일이 누락된 데이터도 포함시켜 데이터를 살펴보려면**임의로 시간 범위를 생성하여 인덱스로 지정해야한다.**

**<시간 범위 생성해 인덱스로 지정하기>**

1.테슬라 주식 데이터는 특정 일에 누락된 데이터가 없다. 그래서 에볼라 데이터 집합을 사용하자.

In [27]:
#앞쪽 보면 2015년 01.01의 데이터가 누락된 것을 알 수 있다.
ebola=pd.read_csv('/content/drive/MyDrive/tesla_stock_quandl.csv', parse_dates=[0])
print(ebola.iloc[:5,:5])

        Date    Open    High     Low   Close
0 2018-03-27  304.00  304.27  277.18  279.18
1 2018-03-26  307.34  307.59  291.36  304.18
2 2018-03-23  311.25  311.61  300.45  301.54
3 2018-03-22  313.89  318.82  308.18  309.10
4 2018-03-21  310.25  322.44  310.19  316.53

2. 뒤쪽 데이터도 누락

In [28]:
print(ebola.iloc[-5:,:5])

          Date    Open    High     Low   Close
109 2017-10-17  350.91  356.22  350.07  355.75
110 2017-10-16  353.76  354.48  347.16  350.60
111 2017-10-13  356.98  358.49  353.68  355.57
112 2017-10-12  352.95  359.78  352.64  355.68
113 2017-10-11  353.89  357.60  351.15  354.60

3. 다음은 date_range메서드를 사용하여 2015년 12월 31일부터 2015년 01월 05일 사이의 시간 인덱스를 생성한 것이다.

In [29]:
head_range=pd.date_range(start='2014-12-31', end='2015-01-05')
print(head_range)

DatetimeIndex(['2014-12-31', '2015-01-01', '2015-01-02', '2015-01-03',
               '2015-01-04', '2015-01-05'],
              dtype='datetime64[ns]', freq='D')

4. 다음은 워본 데이터를 손상시키는 것을 방지하기 위해 ebola 데이터 프레임의 앞쪽 5개의 데이터를 추출하여 새로운 데이터 프레임을 만든 것이다.

이때 Date열을 인덱스로 먼저 지정하지 않으면 오류가 발생한다. 반드시 Date열을 인덱스로 지정한 다음 과정 3에서 생성한 시간 범위를 인덱스로 지정해줘야한다.

In [30]:
ebola_5 = ebola.head()
ebola_5.index=ebola_5['Date']
ebola_5.reindex(head_range)

,Date,Open,High,Low,Close,Volume,ExDividend,SplitRatio,AdjOpen,AdjHigh,AdjLow,AdjClose,AdjVolume
2014-12-31,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-01-01,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-01-02,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-01-03,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-01-04,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-01-05,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 시간 범위의 주기 설정학.

시간 범위를 인덱스로 지정하면 DatetimeIndex자료형이 만들어진다.
그리고 DatetimeIndex에는 freq속성이 포함되어 있다. freq속성값을 지정하면 시간 간격을 조절하여 DatetimeIndex를 만들 수 있다. 아래에 freq속성값으로 사용할 수 있는 시간 주기가 있다.

* B: 평일만 포함
* C: 사용자가 정의한 평일만 포함
* D: 달력 일자 단위
* W: 주간 단위
* M: 월 마지막 날만 포함
* SM: 15일과 월 마지막 날만 포함
* BM: M 주기의 값이 휴일이면 제외하고 평일만 포함
* CBM: BM에 사용자 정의 평일을 적용
* MS: 월 시작일만 포함
* SMS: 월 시작일과 15일만 포함
* BMS: MS 주기의 값이 휴일이면 제외하고 평일만 포함
* CBMS: BMS에 사용자 정의 평일을 적용
* Q: 3,6,9,12월 분기 마지막 날만 포함
* BQ: 3,6,9,12월 분기 마지막 날이 휴일이면 제외하고 평일만 포함
* QS: 3,6,9,12월 분기 시작일만 포함
* BQS: 3,6,9,12월 분기 시작일이 휴일이면 제외하고 평일만 포함
* A: 년의 마지막 날만 포함
* BA: 년의 마지막 날이 휴일이면 제외하고 평일만 포함
* AS:년의 시작일만 포함
* BAS: 년의 시작일이 휴일이면 제외하고 평일만 포함
* BH: 평일을 시간 단위로 포함(09:00~16:00)
* H: 시간 단위로 포함(00:00~00:00)
* T: 분 단위 포함
* S: 초 단위 포함
* L: 밀리초 단위 포함
* U: 마이크로초 단위포함
* N: 나노초 단위 포함